html {
    font-size: 16px;
}

.pokeImg {
    max-width: 250px;
}

@media (max-width: 565px) {
    .pokeImg {
        max-width: 350px;
    }
}

.infoImg {
    max-width: 400px;
}

.logo {
    min-width: 40px;
    height: auto;
}